@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Secret page</title>
</head>
<body>
<div>
    Data: @ViewBag.Result
    
    Current user ID : @User?.Identity?.Name
</div>
</body>
</html>