<h1>
    Simple JS app Home
</h1>

<button onclick="signIn()">SignIn</button>
<button onclick="signOut()">SignOut</button>

<button onclick="callPrivateApi()">Call Private API</button>
<button onclick="callAdminApi()">Call Admin API</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.5/oidc-client.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/main.js"></script>
